* {
    margin: 0;
    padding: 0;
}

.header {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    height: 160px;
    margin: 2px;
}

.nav-items > ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin: 60px 7px;
}

.nav-items > ul > li {
    font-size: 23px;
}

.logo {
    height: 160px;
    width: 160px;
}

.cart-logo {
    height: 50px;
    width: 50px;
    margin-top: -10px;
}

.login-button {
    cursor: pointer;
    margin-top: 2px;
    height: 30px;
    width: 70px;
    border-radius: 2px;
}

/* Body  */

.body {
    margin: 2px;
}

.filter-btn {
    cursor: pointer;
    height: 28px;
    margin: 5px;
    padding: 6px;
}

/* Restaurant-container */
.res-container {
    padding: 3px;
    margin: 1px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

/* Restaurant Card  */
.res-card {
    cursor: pointer;
    margin: 2px;
    border: 1px solid black;
    border-radius: 2px;
    height: 330px;
    width: 205px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.res-card-img {
    margin-top: 9px;
    height: 140px;
    width: 180px;
}

/* Shimmer  */
.shimmer {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  width: 283px;
  padding: 10px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.shimmer-image,
.shimmer-line {
  background: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-size: 800px 100%;
  animation: shimmer 1.5s infinite linear;
  border-radius: 4px;
}

.shimmer-image {
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
}

.shimmer-line {
  height: 15px;
  margin-bottom: 8px;
}

.shimmer-line.short {
  width: 60%;
}

@keyframes shimmer {
  0% {
    background-position: -800px 0;
  }
  100% {
    background-position: 800px 0;
  }
}
